<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nokia.modules.resourceManage.dao.StationAmountDao">

    <select id="selectSanyaAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select  '三亚市' as name,sum(amount) as value from
			 (select t.county,count(*) amount from STATION_ADDRESS_MANAGEMENT t group by t.county )
		where county in ('崖州区','吉阳区','天涯区','海棠区')
	</select>

    <select id="selectHaikouAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select  '海口市' as name,sum(amount) as value from
			(select t.county,count(*) amount from STATION_ADDRESS_MANAGEMENT t group by t.county )
		where county in ('美兰区','琼山区','龙华区','秀英区')
	</select>

    <select id="selectQundaoAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select  '南海诸岛' as name,sum(amount) as value from
			(select t.county,count(*) amount from STATION_ADDRESS_MANAGEMENT t group by t.county )
		where county in ('西沙群岛','南沙群岛')
	</select>

    <select id="selectHainanAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.county name,count(*) value from STATION_ADDRESS_MANAGEMENT t
			where t.county in ('五指山市','琼中黎族苗族自治县','临高县','乐东黎族自治县','儋州市','白沙黎族自治县'
			,'保亭黎族自治县','琼海市','万宁市','屯昌县','文昌市','澄迈县','东方市','陵水黎族自治县','定安县','昌江黎族自治县')
		group by t.county
		order by value desc
	</select>

    <select id="selectCountyAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.county name,count(*) value from STATION_ADDRESS_MANAGEMENT t
      		where t.county in ('龙华区','美兰区','秀英区','琼山区','崖州区','吉阳区','天涯区','海棠区','琼海市','儋州市')
    	group by t.county
	</select>

    <select id="selectChanquanAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select property_nature as name,count(property_nature) as value from
       		(select nvl(t.property_nature, '其他') property_nature  from STATION_ADDRESS_MANAGEMENT t)
		group by property_nature
	</select>

    <select id="selectCityStationAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
    	select substr(t.city,0,2) name,count(city) value from STATION_ADDRESS_MANAGEMENT t
            group by city
	</select>

    <select id="selectStationShareAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.if_operator_share name,count(t.if_operator_share) value from STATION_ADDRESS_MANAGEMENT t
            group by t.if_operator_share
	</select>

    <select id="selectStationAloneAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		  select '移动' as name,sum(case when instr(t.if_operator_share,'移动')>0 then 1 else 0 end） value
			from station_address_management t
		union all
		  select '联通' as name,sum(case when instr(t.if_operator_share,'联通')>0 then 1 else 0 end） value
			from station_address_management t
		union all
		  select '电信' as name,sum(case when instr(t.if_operator_share,'电信')>0 then 1 else 0 end） value
			from station_address_management t
	</select>

    <select id="selectBizSceneAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
        select t.biz_scene name,count(t.biz_scene) value from STATION_ADDRESS_MANAGEMENT t
   			group by t.biz_scene
   		union (select '室分' as name,count(*) value from STATION_ADDRESS_MANAGEMENT t
                 where t.biz_scene like '%室分%')
  		order by name
	</select>

    <select id="selectStationAmountByYear" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select a.syear name,sum(b.site_number) value
		from (select substr(t.delivery_time,1,4) syear,count(t.operandmaint_id) site_number from STATION_ADDRESS_MANAGEMENT t group by substr(t.delivery_time,1,4)) a
		,(select substr(t.delivery_time,1,4) syear,count(t.operandmaint_id) site_number from STATION_ADDRESS_MANAGEMENT t group by substr(t.delivery_time,1,4)) b
		where b.syear &lt;= a.syear
		and  to_number(a.syear) >= 2014
		group by a.syear
		order by 1
	</select>

    <select id="selectStationIncreaseByYear" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
   		select nvl(name, '未知') name, value
      	from (select substr(t.delivery_time,0,4) name,count(*) value from STATION_ADDRESS_MANAGEMENT t
       	WHERE to_number(substr(t.delivery_time,0,4)) >= 2014
       	group by substr(t.delivery_time,0,4) order by name)
    	order by 1
	</select>

    <select id="selectStationAmountByMonth" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
   		select nvl(name, '未知') name, value
			from (select substr(t.delivery_time,0,7) name,count(*) value from STATION_ADDRESS_MANAGEMENT t
				group by substr(t.delivery_time,0,7) order by name)
	</select>

    <select id="selectStationSourceAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
        select t.station_source name,count(1) value from STATION_ADDRESS_MANAGEMENT t
			group by t.station_source
	</select>

    <select id="calculateShareRate" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
         select #{name} as name,1 -
            (select count(t.if_operator_share)  from STATION_ADDRESS_MANAGEMENT t
              where t.if_operator_share = #{name})/
            (select count(t.if_operator_share)  from STATION_ADDRESS_MANAGEMENT t
              where t.if_operator_share like concat(concat('%',#{name}),'%') ) as value
          from dual
	</select>

    <select id="selectOperatorStationAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.operator name,sum(site_equity_num) value from OPERATOR_STATION_INFO t
		group by operator
	</select>

    <select id="selectCountyStation5GAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.county name,count(*) value from STATION5G_DEMAND t
        group by t.county
        order by value desc
	</select>

    <select id="selectMonthlyStation5GAmount" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select to_char(t.delivery_time,'yyyy-mm') name ,count(t.station_name) value
		from STATION5G_DEMAND t
		where t.delivery_time is not null
		group by to_char(t.delivery_time,'yyyy-mm')
		order by name
	</select>

    <select id="selectProvinceTuisong" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select plan_status name,count(plan_status) value from TOWER_SOLUTION_COLLECTION
        <if test="cityBranchCompany != null and cityBranchCompany != ''">
            where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
        </if>
		group by plan_status
	</select>

	<select id="selectByProjectType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.project_type as name,count(t.project_type) as value from TOWER_SOLUTION_COLLECTION t
        where t.project_type is not null
        <if test="cityBranchCompany != null and cityBranchCompany != ''">
          and city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
        </if>
        group by t.project_type
	</select>

    <select id="selectGhBuildType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '存量利旧' as name,sum(t.wx_Hz_Zzs_Clljgs) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '新建站点' as name,sum(t.WX_HZ_ZZS_XJZGS) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

    <select id="selectGhStationType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '宏站' as name,sum(t.wx_Hz_Wlghdw) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.SERIAL_NUMBER like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '微站' as name,sum(t.wx_Wzgh_Wldw) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.SERIAL_NUMBER like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '室分' as name,count(d.station_type) as  value from TOWER_SOLUTION_DETAIL d
			where d.station_type = '室分'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and d.PROJECT_NUMBER like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

    <select id="selectGhOperator" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '移动' as name,sum(t.wx_Hz_Ydghdw) + sum(t.wx_Wzgh_Yddw) as value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '联通' as name,sum(t.wx_Hz_ltghdw) + sum(t.wx_Wzgh_ltdw) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '电信' as name,sum(t.wx_Hz_dxghdw) + sum(t.wx_Wzgh_dxdw) as  value from TOWER_SOLUTION_COLLECTION t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

    <select id="selectGhNetType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '4G' as name,sum(t.wx_Hz_Wlghdw) + sum(t.wx_Wzgh_Wldw) as value from TOWER_SOLUTION_COLLECTION t
			where t.net_Type like '%4G%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '5G' as name,sum(t.wx_Hz_Wlghdw) + sum(t.wx_Wzgh_Wldw) as value from TOWER_SOLUTION_COLLECTION t
			where t.net_Type like '%5G%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

    <select id="selectXqBuildType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '存量利旧' as name,count(t.build_type) as value from TOWER_SOLUTION_SUBMITTED t
		where t.build_type like '%利旧%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '新建站点' as name,count(t.build_type) as value from TOWER_SOLUTION_SUBMITTED t
		  where t.build_type like '%新建%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

    <select id="selectXqStationType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select t.station_type as name,count(t.station_type) as value from TOWER_SOLUTION_SUBMITTED t
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			where t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		group by t.station_type
	</select>

	<select id="selectXqOperator" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '移动' as name,count(operator_name) as value from TOWER_SOLUTION_SUBMITTED t
			where t.operator_name like '%移动%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '联通' as name,count(operator_name) as value from TOWER_SOLUTION_SUBMITTED t
			where t.operator_name like '%联通%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '电信' as name,count(operator_name) as value from TOWER_SOLUTION_SUBMITTED t
			where t.operator_name like '%电信%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

	<select id="selectXqNetType" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '4G' as name,count(net_type) as value from TOWER_SOLUTION_SUBMITTED t
			where t.net_type like '%4G%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
		union all
		select '5G' as name,count(net_type) as value from TOWER_SOLUTION_SUBMITTED t
			where t.net_type like '%5G%'
		<if test="cityBranchCompany != null and cityBranchCompany != ''">
			and t.city_branch_company like concat(concat('%',#{cityBranchCompany}),'%')
		</if>
	</select>

	<select id="selectStatusGroupCity" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
			 SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		  SELECT city_branch_company name,NVL(count(plan_status) ,0) value FROM TOWER_SOLUTION_COLLECTION t
		  WHERE t.plan_status = #{planStatus}
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<select id="selectProjectTypeGroupCity" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company name,NVL(count(t.project_type) ,0) value FROM TOWER_SOLUTION_COLLECTION t
		  WHERE t.project_type is not null
		  and t.project_type = #{projectType}
		  GROUP BY city_branch_company

		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划存量利旧 -->
	<select id="selectCityGhCllj" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,sum(t.wx_Hz_Zzs_Clljgs) AS  value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划新建站点 -->
	<select id="selectCityGhXjzd" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,sum(t.WX_HZ_ZZS_XJZGS) AS  value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划宏站物理点位 -->
	<select id="selectCityGhHzwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,sum(t.wx_Hz_Wlghdw) AS  value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划微站物理点位 -->
	<select id="selectCityGhWzwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,sum(t.wx_Wzgh_Wldw) AS  value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划室分物理点位 -->
	<select id="selectCityGhSfwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		select '琼海分公司' as name,count(d.station_type) as  value from TOWER_SOLUTION_DETAIL d
		where d.station_type = '室分'
		and d.PROJECT_NUMBER like concat(concat('%','QH'),'%')
		union all
		select '海口分公司' as name,count(d.station_type) as  value from TOWER_SOLUTION_DETAIL d
		where d.station_type = '室分'
		and d.PROJECT_NUMBER like concat(concat('%','HK'),'%')
		union all
		select '儋州分公司' as name,count(d.station_type) as  value from TOWER_SOLUTION_DETAIL d
		where d.station_type = '室分'
		and d.PROJECT_NUMBER like concat(concat('%','DZ'),'%')
		union all
		select '三亚分公司' as name,count(d.station_type) as  value from TOWER_SOLUTION_DETAIL d
		where d.station_type = '室分'
		and d.PROJECT_NUMBER like concat(concat('%','SY'),'%')
	</select>

	<!-- 规划移动物理点位 -->
	<select id="selectCityGhYddw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,SUM(t.wx_Hz_Ydghdw) + SUM(t.wx_Wzgh_Yddw) AS value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划联通物理点位 -->
	<select id="selectCityGhLtdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,SUM(t.wx_Hz_ltghdw) + SUM(t.wx_Wzgh_ltdw) AS value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划电信物理点位 -->
	<select id="selectCityGhDxdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,SUM(t.wx_Hz_dxghdw) + SUM(t.wx_Wzgh_dxdw) AS value FROM TOWER_SOLUTION_COLLECTION t
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划4G物理点位 -->
	<select id="selectCityGh4Gdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,SUM(t.wx_Hz_Wlghdw) + SUM(t.wx_Wzgh_Wldw) AS value FROM TOWER_SOLUTION_COLLECTION t
		  WHERE t.net_Type LIKE '%4G%'
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 规划5G物理点位 -->
	<select id="selectCityGh5Gdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_COLLECTION
		) a
		LEFT JOIN
		(
		SELECT t.city_branch_company AS name,SUM(t.wx_Hz_Wlghdw) + SUM(t.wx_Wzgh_Wldw) AS value FROM TOWER_SOLUTION_COLLECTION t
		  WHERE t.net_Type LIKE '%5G%'
		  GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 已下需求存量利旧 -->
	<select id="selectCityXqCllj" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(build_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE build_type like '%利旧%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 已下需求新建站点 -->
	<select id="selectCityXqXjzd" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(build_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE build_type like '%新建%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求宏站物理点位 -->
	<select id="selectCityXqHzwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE station_type like '%宏站%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求微站物理点位 -->
	<select id="selectCityXqWzwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE station_type like '%微站%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求室分物理点位 -->
	<select id="selectCityXqSfwldw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE station_type like '%室分%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求移动物理点位 -->
	<select id="selectCityXqYddw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE operator_name like '%移动%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求联通物理点位 -->
	<select id="selectCityXqLtdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE operator_name like '%联通%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求电信物理点位 -->
	<select id="selectCityXqDxdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE operator_name like '%电信%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求4G物理点位 -->
	<select id="selectCityXq4Gdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE net_type like '%4G%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

	<!-- 需求5G物理点位 -->
	<select id="selectCityXq5Gdw" resultType="com.nokia.modules.resourceManage.entity.StationInfoAmount">
		SELECT a.name,nvl(value,0) AS value
		FROM (
		   SELECT DISTINCT city_branch_company AS name FROM TOWER_SOLUTION_SUBMITTED
		) a
		LEFT JOIN
		(
		SELECT city_branch_company AS name,COUNT(station_type) AS value FROM TOWER_SOLUTION_SUBMITTED
		WHERE net_type like '%5G%'
		GROUP BY city_branch_company
		) b
		ON a.name = b.name
		ORDER BY a.name DESC
	</select>

</mapper>