<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nokia.modules.disaster.dao.AlarmInfoAmountDao">

    <select id="selectAlarmTypeAmount" resultType="com.nokia.modules.disaster.entity.AlarmInfoAmount">
        with a as (select case when ALARM_NAME='一级低压脱离告警' then '退服'
        when ALARM_NAME='交流输入停电告警' then '停电'
        when ALARM_NAME='温度过高' then '高温'
        when ALARM_NAME='烟雾告警' then '烟雾'
        when ALARM_NAME='水浸告警' then '水浸'
        else ALARM_NAME end alarm_name,
        count(a.ALARM_NAME) amount
        from v_alarm_message_management a
        where 1=1
        <if test="stationSecurityLevel != null and stationSecurityLevel != ''">
            and a.STATION_SECURITY_LEVEL like concat(concat('%',#{stationSecurityLevel}),'%')
        </if>
        <if test="belongOperator != null and belongOperator != ''">
            and a.BELONG_OPERATOR like concat(concat('%',#{belongOperator}),'%')
        </if>
        <if test="bizScene != null and bizScene != ''">
            and a.BIZ_SCENE like concat(concat('%',#{bizScene}),'%')
        </if>
        group by a.ALARM_NAME )
        select b.name item,nvl(a.amount,0) amount
        from ALARM_NAME b left join a on b.name = a.alarm_name
    </select>

    <select id="selectAlarmTypeAmountRate" resultType="com.nokia.modules.disaster.entity.AlarmInfoAmount">
        with a as (select case when ALARM_NAME='一级低压脱离告警' then '退服'
        when ALARM_NAME='交流输入停电告警' then '停电'
        when ALARM_NAME='温度过高' then '高温'
        when ALARM_NAME='烟雾告警' then '烟雾'
        when ALARM_NAME='水浸告警' then '水浸'
        else ALARM_NAME end alarm_name,
        count(a.ALARM_NAME) amount
        from v_alarm_message_management a
        where 1=1
        <if test="stationSecurityLevel != null and stationSecurityLevel != ''">
            and a.STATION_SECURITY_LEVEL like concat(concat('%',#{stationSecurityLevel}),'%')
        </if>
        <if test="belongOperator != null and belongOperator != ''">
            and a.BELONG_OPERATOR like concat(concat('%',#{belongOperator}),'%')
        </if>
        <if test="bizScene != null and bizScene != ''">
            and a.BIZ_SCENE like concat(concat('%',#{bizScene}),'%')
        </if>
        group by a.ALARM_NAME ),
        a2 as (
        select count(*) counts
        from station_address_management t
        where 1=1
        <if test="stationSecurityLevel != null and stationSecurityLevel != ''">
            and t.station_safe_lv like concat(concat('%',#{stationSecurityLevel}),'%')
        </if>
        <if test="belongOperator != null and belongOperator != ''">
            and t.operator_name like concat(concat('%',#{belongOperator}),'%')
        </if>
        <if test="bizScene != null and bizScene != ''">
            and t.biz_scene like concat(concat('%',#{bizScene}),'%')
        </if>
        )
        select b.name item,nvl(a.amount,0) amount,
        decode(a2.counts,0,0,round(nvl(a.amount,0)/a2.counts * 100,2)) amount_rate
        from a2,ALARM_NAME b left join a on b.name = a.alarm_name
    </select>

</mapper>